body {
    background: #e0f2fe; 
    font-family: sans-serif;
    color: #4b5563;
}

#main-title {
    font-weight: bold;
    margin: 40px auto;
    width: 50%;
    text-align: center;
    color: #6366f1;
}

h2 {
    color: #db2777;
    background: #fdf2f8; 
    border: 5px solid #f9a8d4;
    padding: 25px;
    margin: 25px;
    border-radius: 15px;
}

.highlights {
    display: flex;
    gap: 10px;
    margin: 25px;
    align-items: stretch;
}

.image-box {
    border: 2px solid #cbd5e1;
    padding: 15px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.image-box img {
    max-width: 250px;
    height: auto;
}

.text-box {
    border: 2px solid #cbd5e1;
    padding: 15px;
    background: white;
    flex: 1;
    border-radius: 10px;
}

.character-table-container {
    margin: 25px;
    background: white;
    padding: 20px;
    border: 2px solid #cbd5e1;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background-color: #fef9c3;
    color: #b45309; 
    padding: 12px;
    text-align: left;
    border: 1px solid #cbd5e1;
}

td {
    padding: 10px;
    border: 1px solid #cbd5e1;
    text-align: left;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #f8fafc;
}

.table-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: #ffffff;
    display: block;
    margin: auto;
    border-radius: 8px;
}

a {
    color: #8b5cf6;
    text-decoration: none;
    font-weight: bold;
}

summary {
    cursor: pointer;
    font-weight: bold;
    color: #6366f1;
    margin-top: 5px;
}